.builder {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    width: 600px;
    background-color: #f9f9f9;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    padding: 20px;
}